# Node.js dependencies
**/node_modules/
**/dist/
**/build/
.pnp
.pnp.js

# Python files
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/.venv/
**/venv/
**/ENV/

# Databases & local configs
**/*.db
**/*.db-journal
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
**/*.log

# OS files
.DS_Store
Thumbs.db
